/* src/components/Header.css */

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 3px solid #000;
  font-family: 'Roboto Mono', monospace;
  background-color: #1c1c1c; /* тёмно-серебристый */
  color: #fff;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left, .header-center, .header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  height: 40px;
}

.site-title {
  font-size: 1.5rem;
  font-weight: 900;
}

.user-info-block {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-avatar {
  background-color: #000;
  color: #fff;
  font-weight: 900;
  padding: 0.6rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  border: 2px solid #fff;
  box-sizing: border-box;
}

.user-avatar:hover {
  background-color: #333;
}

.user-name {
  font-weight: 700;
}

.user-roles {
  font-size: 0.85rem;
  color: #ccc;
}

.logout-button {
  margin-left: 1rem;
  background-color: #000;
  color: #fff;
  padding: 0.6rem 1.2rem;
  border: none;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}

.logout-button:hover {
  background-color: #444;
}
