/* src/components/LoginForm.css */
.login-wrapper {
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
  padding: 2rem;
}

.login-form {
  background-color: #fff;
  padding: 2rem;
  border: 3px solid #000;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.login-form.light {
  background-color: #fff;
  border: 3px solid #000;
}

.login-form.dark {
  background-color: #000;
  border: 3px solid #fff;
}

.login-title {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 1rem;
}

.login-form.light .login-title {
  color: #000;
}

.login-form.dark .login-title {
  color: #fff;
}

.login-label {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.login-form.light .login-label {
  color: #000;
}

.login-form.dark .login-label {
  color: #fff;
}

.login-input {
  padding: 1rem;
  border: 3px solid;
  font-size: 1rem;
  outline: none;
  background-color: #e4e4e4;
}

.login-form.dark .login-input {
  background-color: #333;
  color: #fff;
  border-color: #fff;
}

.login-password-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.show-password-button {
  margin-top: 0.5rem;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.8rem;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
}

.login-form.dark .show-password-button {
  background-color: #fff;
  color: #000;
}

.login-button {
  margin-top: 1rem;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-weight: 900;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: inherit;
}

.login-form.dark .login-button {
  background-color: #fff;
  color: #000;
}



.login-form.dark 

/* Эффект тряски */
@keyframes
  25% { transform: translateX(-10px); }
  50% { transform: translateX(10px); }
  75% { transform: translateX(-10px); }
  100% { transform: translateX(0); }


